.Feed {
    margin: auto;
    padding: 1% 1%;
    /* border-radius: 5px; */
    /* border-color: black; */
    /* height: 50vh; */
    overflow-y: scroll;
}

.ViewProfileButton {
    background-color: #0095f6;
    background-color: rgba(var(--d69,0,149,246),1);
    border-radius: 3px;
    color: #fff;
    color: rgba(var(--eca,255,255,255),1);
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-weight: 550;
    margin-left: 10px;
    padding: 5px 12px;
    text-decoration: none;
}

.InstaUsername {
    color: rgba(var(--i1d,38,38,38),1);
    font-weight: 550;
    cursor: pointer;
    margin-left: 5px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}